@font-face {
  font-family: araz;
  src: url(../fonts/araz.ttf);
}
@font-face {
  font-family: rubik;
  src: url(../fonts/Rubik.ttf);
}
* {
  direction: rtl;
  font-family: araz;
  box-sizing: border-box;
}
*[lang="en_US"] {
  font-family: rubik;
}

body {
  font-size: 16px;
  margin: 0px;
}

a {
  text-decoration: none;
}
